.Bag {
    
}

.bag-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin: 2rem 0;
}

.order-bag {
    font-family: 'Raleway', sans-serif;
    width: 17.5rem;
    color: white;
    background-color: #5ECE7B;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem;
}

.checkout-bag > *{
    margin: 0.8rem 0;
}