
.dropdown > :nth-child(2n) {
    background-color: #EEEEEE;
}

.dropdown {
    background-color: white;
}

.navItemText {
    font-size: 1.5rem;
}

ul {
    display: flex;
}

.CurrencyChanger ul > :first-child {
    margin-right: 1rem  ;
}

.navItemImage > img {
    margin-top: 10px;
}