.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3 {
    font-weight: 200;
    font-size: 1.1rem;
    margin-top: 0.625rem;
}

h4 {
    font-weight: 400;
}

.prodImage {
    height: 22.125rem;
}

.product {
    padding: .4rem;
    margin: 2rem 0;
    transition: .4s;
    position: relative;
    flex-basis: 25%;
}

.product:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .4s;
}

.cartDiv {
    display: none;
    background-color: #5ECE7B;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem 00.5rem 0.5rem 0.5rem;
    position: absolute;
    right: 1.2rem;
    bottom: 2.8rem;
}

.cart {
    height: 100%;
    vertical-align: middle;
    margin-top: .2rem;
    margin-right: .3rem;
    filter: brightness(0) invert(1);
}

.product:hover .cartDiv {
    display: inline-block; 
}

#outOfStock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #8D8F9A;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.opacity {
    opacity: 0.3;
}

a {
    text-decoration: none;
    color: black;
}



