.navItemImage > img {
    margin-top: 0.375rem;
}

.navItemImage {
    position: relative;
}

.cart-item-count {
    position: absolute;
    top: -2px;
    left: 1rem;
    border-radius: 50%;
    color: white;
    background-color: #1D1F22;
    font-weight: bold;
    font-family: 'Roboto';
    padding: 1px;
    font-size: 0.875rem;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
}