
* {
    padding: 0;
    margin: 0;
}

.Navbar {
    display: flex;
    padding-top: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.flex-child {
    flex-grow: 1;
    width: 0;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #1D1F22;
    text-transform: uppercase;
    padding: 10px;    
    cursor: pointer;
}

a {
    padding-bottom: 10px;
}

.link.active {
    color: #5ECE7B;
    border-bottom: solid #5ECE7B 2px;
}

.logo {
    font-size: 10px;
}

.list {
    display: flex;
}

.images > * {
    margin: 10px;
}

.right-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

select {
    vertical-align: top;
    border: none;
}

select, option {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-color:#EEEEEE;
    outline: 0;
}

option {
    padding: 1rem;
}

select > :nth-child(2n) {
    border-color:#EEEEEE;
    background-color: #EEEEEE;
}

/* Change Currency */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {
    display: block;
}

.images {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.images > img {
    text-align: start;
}

