.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5rem;
}

.productImageList > img {
    max-width: 5rem;
    margin-bottom: 2.5rem;
}

.productImageList {
    display: flex;
    flex-direction: column;
}

.productImageDiv {
    flex-shrink: 2;
}


.productImageDiv > img {
    max-width: 38.125rem    ;
}

.productName {
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.productTitle {
    font-weight: 400;
    font-size: 1.875rem;
}

.productNames {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2.688rem;
}

.text {
    display: flex;
    flex-direction: row;
    color: black;
    margin-bottom: 1.5rem;
}

.attributesSelect {
    display: flex;
    flex-direction: column;
}

.attrText {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.textattr {
    border: black 2px solid;
    margin-right: 0.625rem;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    width: 3.938rem;
    text-align: center;
    padding: 1rem 0;
}

.textattr.active {
    background-color: black;
    color: white;
}

.swatchattr {
    background-color: #D3D2D5;
    padding: 1.5rem;
    margin-right: 0.5rem;
}

.swatchattr.active {
    border: 1px solid #5ECE7B;
}

.swatch {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.25rem;
}

.addToCartBtn {
    background-color: #5ECE7B;
    border: 0;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 2.688rem;
}

.aboutProductText {
    font-family: 'Roboto', sans-serif;
    width: 19.25rem;
    line-height: 160%;  
}

.priceDiv {
    margin-bottom: 2rem;
}
